@import '../../styles/variables.scss';

.menu{
    
    .item{
        display: flex;
        flex-direction: column;
        gap:.3rem;

        a{
            display: flex;
        }
    }

    .title{
        font-size: .8rem;
        font-weight: 200;
        color: $soft-color;
        text-transform: uppercase;
    }

    .listItem{
        display: flex;
        align-items: center;
        gap:.5rem;
        padding: 4px;

        &:hover{
            background-color: $soft-bg;
        }
    }
}